@font-face {
  font-family: "notosan";
  src: url("fonts/NotoSansKR-Thin.otf");
  font-weight: normal;
}


body {
  background-color: #96CEB4;
}
hr {
  border-color: #FFEEAD;
  border-style: dotted hidden hidden hidden;
  border-width: 6px;
  height: 0px;
  width: 100%;

}

h1{
  color: #D9534F;
  font-family: "notosan"
}

h3
{
  color: #D9534F;
  font-family: "notosan";
}
